<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AllTestCases" parallel="classes" thread-count="10" verbose="10">
    <test name="DummyTest">
        <classes>
            <class name="ExtentReport.BaseSetup"/>
            <class name="part2.TextBoxTest"/>
            <class name="part2.DropdownTest"/>
            <class name="part2.ButtonTest"/>
        </classes>
    </test>
</suite>